<!DOCTYPE html>

<html>
	<head>
    	<title>Reg Form - Server Side Validation Using Python</title>
  	</head>
  	<body>

		<h1> Fill Your Registeration - - Server Side Validation Using Python</h1>

		<!-- Form for details -->
		<form action="{{url_for('SSHtml')}}" method="POST" id="RegForm">  
		 	USN (Eg. 1MS14IS001) : <input name = "usn" type="text" /><br>
      D.O.B (Eg. dd/mm/yyyy) : <input name = "dob" type="text" /><br>
			<button type="submit">Submit Me</button>
		</form>

 </body>
</html>
